SoftBO/Connected Services/adminWS/AdminWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdminWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/AdminWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarNuevoMedico">
    <part name="parameters" element="tns:insertarNuevoMedico" />
  </message>
  <message name="insertarNuevoMedicoResponse">
    <part name="parameters" element="tns:insertarNuevoMedicoResponse" />
  </message>
  <message name="insertarNuevaEspecialidad">
    <part name="parameters" element="tns:insertarNuevaEspecialidad" />
  </message>
  <message name="insertarNuevaEspecialidadResponse">
    <part name="parameters" element="tns:insertarNuevaEspecialidadResponse" />
  </message>
  <message name="asignarNuevoRolParaUsuario">
    <part name="parameters" element="tns:asignarNuevoRolParaUsuario" />
  </message>
  <message name="asignarNuevoRolParaUsuarioResponse">
    <part name="parameters" element="tns:asignarNuevoRolParaUsuarioResponse" />
  </message>
  <message name="eliminarRolDeUsuario">
    <part name="parameters" element="tns:eliminarRolDeUsuario" />
  </message>
  <message name="eliminarRolDeUsuarioResponse">
    <part name="parameters" element="tns:eliminarRolDeUsuarioResponse" />
  </message>
  <portType name="AdminWS">
    <operation name="insertarNuevoMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevoMedicoRequest" message="tns:insertarNuevoMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevoMedicoResponse" message="tns:insertarNuevoMedicoResponse" />
    </operation>
    <operation name="insertarNuevaEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevaEspecialidadRequest" message="tns:insertarNuevaEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevaEspecialidadResponse" message="tns:insertarNuevaEspecialidadResponse" />
    </operation>
    <operation name="asignarNuevoRolParaUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/asignarNuevoRolParaUsuarioRequest" message="tns:asignarNuevoRolParaUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/asignarNuevoRolParaUsuarioResponse" message="tns:asignarNuevoRolParaUsuarioResponse" />
    </operation>
    <operation name="eliminarRolDeUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/eliminarRolDeUsuarioRequest" message="tns:eliminarRolDeUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/eliminarRolDeUsuarioResponse" message="tns:eliminarRolDeUsuarioResponse" />
    </operation>
  </portType>
  <binding name="AdminWSPortBinding" type="tns:AdminWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarNuevoMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarNuevaEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="asignarNuevoRolParaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRolDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdminWS">
    <port name="AdminWSPort" binding="tns:AdminWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/AdminWS" />
    </port>
  </service>
</definitions>