SoftBO/Connected Services/adminWS/AdminWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReporteDeCitasGeneralAdministrador" type="tns:ReporteDeCitasGeneralAdministrador" />
  <xs:element name="ReporteDeCitasGeneralAdministradorResponse" type="tns:ReporteDeCitasGeneralAdministradorResponse" />
  <xs:element name="agregarEspecialidadAMedico" type="tns:agregarEspecialidadAMedico" />
  <xs:element name="agregarEspecialidadAMedicoResponse" type="tns:agregarEspecialidadAMedicoResponse" />
  <xs:element name="asignarNuevoRolParaUsuario" type="tns:asignarNuevoRolParaUsuario" />
  <xs:element name="asignarNuevoRolParaUsuarioResponse" type="tns:asignarNuevoRolParaUsuarioResponse" />
  <xs:element name="eliminarEspecialidadMedico" type="tns:eliminarEspecialidadMedico" />
  <xs:element name="eliminarEspecialidadMedicoResponse" type="tns:eliminarEspecialidadMedicoResponse" />
  <xs:element name="eliminarRolDeUsuario" type="tns:eliminarRolDeUsuario" />
  <xs:element name="eliminarRolDeUsuarioResponse" type="tns:eliminarRolDeUsuarioResponse" />
  <xs:element name="insertarNuevaEspecialidad" type="tns:insertarNuevaEspecialidad" />
  <xs:element name="insertarNuevaEspecialidadResponse" type="tns:insertarNuevaEspecialidadResponse" />
  <xs:element name="insertarNuevoAdministrador" type="tns:insertarNuevoAdministrador" />
  <xs:element name="insertarNuevoAdministradorResponse" type="tns:insertarNuevoAdministradorResponse" />
  <xs:element name="insertarNuevoMedico" type="tns:insertarNuevoMedico" />
  <xs:element name="insertarNuevoMedicoResponse" type="tns:insertarNuevoMedicoResponse" />
  <xs:element name="insertarNuevoPaciente" type="tns:insertarNuevoPaciente" />
  <xs:element name="insertarNuevoPacienteResponse" type="tns:insertarNuevoPacienteResponse" />
  <xs:element name="listarEspecialidades" type="tns:listarEspecialidades" />
  <xs:element name="listarEspecialidadesResponse" type="tns:listarEspecialidadesResponse" />
  <xs:element name="listarMedicos" type="tns:listarMedicos" />
  <xs:element name="listarMedicosResponse" type="tns:listarMedicosResponse" />
  <xs:element name="listarRolesDeUsuario" type="tns:listarRolesDeUsuario" />
  <xs:element name="listarRolesDeUsuarioResponse" type="tns:listarRolesDeUsuarioResponse" />
  <xs:element name="listarTodosUsuarios" type="tns:listarTodosUsuarios" />
  <xs:element name="listarTodosUsuariosResponse" type="tns:listarTodosUsuariosResponse" />
  <xs:element name="listarUsuariosPorEspecialidad" type="tns:listarUsuariosPorEspecialidad" />
  <xs:element name="listarUsuariosPorEspecialidadResponse" type="tns:listarUsuariosPorEspecialidadResponse" />
  <xs:element name="modificarEspecialidads" type="tns:modificarEspecialidads" />
  <xs:element name="modificarEspecialidadsResponse" type="tns:modificarEspecialidadsResponse" />
  <xs:element name="modificarUsuarios" type="tns:modificarUsuarios" />
  <xs:element name="modificarUsuariosResponse" type="tns:modificarUsuariosResponse" />
  <xs:element name="obtenerEspecialidadPorId" type="tns:obtenerEspecialidadPorId" />
  <xs:element name="obtenerEspecialidadPorIdResponse" type="tns:obtenerEspecialidadPorIdResponse" />
  <xs:element name="obtenerUsuarioPorId" type="tns:obtenerUsuarioPorId" />
  <xs:element name="obtenerUsuarioPorIdResponse" type="tns:obtenerUsuarioPorIdResponse" />
  <xs:complexType name="eliminarEspecialidadMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:usuarioPorEspecialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioPorEspecialidadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidadDTO" />
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEspecialidad" type="xs:string" />
      <xs:element minOccurs="0" name="precioConsulta" type="xs:double" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codMedico" type="xs:string" />
      <xs:element minOccurs="0" name="codigoVerificacion" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="estadoLogico" type="tns:estadoLogico" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaExpiracionCodigo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numCelular" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEspecialidadMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosPorEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosPorEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuarioPorEspecialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarEspecialidadAMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioPorEspecialidad" type="tns:usuarioPorEspecialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarEspecialidadAMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEspecialidades">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEspecialidadesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRolDeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="rolPorUsuario" type="tns:usuarioPorRolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioPorRolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rolDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioDTO" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombreRol" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRolDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarNuevoRolParaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="rolPorUsuario" type="tns:usuarioPorRolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarNuevoRolParaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRolesDeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRolesDeUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuarioPorRolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEspecialidads">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEspecialidadsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReporteDeCitasGeneralAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="codMedico" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_fini" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReporteDeCitasGeneralAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reporteCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteCitaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codMedico" type="xs:string" />
      <xs:element minOccurs="0" name="doctor" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCita" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="idCita" type="xs:string" />
      <xs:element minOccurs="0" name="paciente" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevoPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevoPacienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMedicos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMedicosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevoAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevoAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevoMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="medico" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="especialidades" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevoMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEspecialidadPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEspecialidadPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevaEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevaEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoGeneral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="PENDIENTE_VERIFICACION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoLogico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUSENTE" />
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="DE_VACACIONES" />
      <xs:enumeration value="DE_BAJA" />
      <xs:enumeration value="EN_CAPACITACION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FEMENINO" />
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="OTRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>