SoftBO/Connected Services/adminWS/AdminWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdminWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/AdminWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerEspecialidadPorId">
    <part name="parameters" element="tns:obtenerEspecialidadPorId" />
  </message>
  <message name="obtenerEspecialidadPorIdResponse">
    <part name="parameters" element="tns:obtenerEspecialidadPorIdResponse" />
  </message>
  <message name="listarRolesDeUsuario">
    <part name="parameters" element="tns:listarRolesDeUsuario" />
  </message>
  <message name="listarRolesDeUsuarioResponse">
    <part name="parameters" element="tns:listarRolesDeUsuarioResponse" />
  </message>
  <message name="insertarNuevoAdministrador">
    <part name="parameters" element="tns:insertarNuevoAdministrador" />
  </message>
  <message name="insertarNuevoAdministradorResponse">
    <part name="parameters" element="tns:insertarNuevoAdministradorResponse" />
  </message>
  <message name="eliminarRolDeUsuario">
    <part name="parameters" element="tns:eliminarRolDeUsuario" />
  </message>
  <message name="eliminarRolDeUsuarioResponse">
    <part name="parameters" element="tns:eliminarRolDeUsuarioResponse" />
  </message>
  <message name="modificarEspecialidads">
    <part name="parameters" element="tns:modificarEspecialidads" />
  </message>
  <message name="modificarEspecialidadsResponse">
    <part name="parameters" element="tns:modificarEspecialidadsResponse" />
  </message>
  <message name="insertarNuevoPaciente">
    <part name="parameters" element="tns:insertarNuevoPaciente" />
  </message>
  <message name="insertarNuevoPacienteResponse">
    <part name="parameters" element="tns:insertarNuevoPacienteResponse" />
  </message>
  <message name="listarTodosUsuarios">
    <part name="parameters" element="tns:listarTodosUsuarios" />
  </message>
  <message name="listarTodosUsuariosResponse">
    <part name="parameters" element="tns:listarTodosUsuariosResponse" />
  </message>
  <message name="obtenerUsuarioPorId">
    <part name="parameters" element="tns:obtenerUsuarioPorId" />
  </message>
  <message name="obtenerUsuarioPorIdResponse">
    <part name="parameters" element="tns:obtenerUsuarioPorIdResponse" />
  </message>
  <message name="eliminarEspecialidadMedico">
    <part name="parameters" element="tns:eliminarEspecialidadMedico" />
  </message>
  <message name="eliminarEspecialidadMedicoResponse">
    <part name="parameters" element="tns:eliminarEspecialidadMedicoResponse" />
  </message>
  <message name="asignarNuevoRolParaUsuario">
    <part name="parameters" element="tns:asignarNuevoRolParaUsuario" />
  </message>
  <message name="asignarNuevoRolParaUsuarioResponse">
    <part name="parameters" element="tns:asignarNuevoRolParaUsuarioResponse" />
  </message>
  <message name="agregarEspecialidadAMedico">
    <part name="parameters" element="tns:agregarEspecialidadAMedico" />
  </message>
  <message name="agregarEspecialidadAMedicoResponse">
    <part name="parameters" element="tns:agregarEspecialidadAMedicoResponse" />
  </message>
  <message name="listarMedicos">
    <part name="parameters" element="tns:listarMedicos" />
  </message>
  <message name="listarMedicosResponse">
    <part name="parameters" element="tns:listarMedicosResponse" />
  </message>
  <message name="modificarUsuarios">
    <part name="parameters" element="tns:modificarUsuarios" />
  </message>
  <message name="modificarUsuariosResponse">
    <part name="parameters" element="tns:modificarUsuariosResponse" />
  </message>
  <message name="listarUsuariosPorEspecialidad">
    <part name="parameters" element="tns:listarUsuariosPorEspecialidad" />
  </message>
  <message name="listarUsuariosPorEspecialidadResponse">
    <part name="parameters" element="tns:listarUsuariosPorEspecialidadResponse" />
  </message>
  <message name="ReporteDeCitasGeneralAdministrador">
    <part name="parameters" element="tns:ReporteDeCitasGeneralAdministrador" />
  </message>
  <message name="ReporteDeCitasGeneralAdministradorResponse">
    <part name="parameters" element="tns:ReporteDeCitasGeneralAdministradorResponse" />
  </message>
  <message name="insertarNuevaEspecialidad">
    <part name="parameters" element="tns:insertarNuevaEspecialidad" />
  </message>
  <message name="insertarNuevaEspecialidadResponse">
    <part name="parameters" element="tns:insertarNuevaEspecialidadResponse" />
  </message>
  <message name="listarEspecialidades">
    <part name="parameters" element="tns:listarEspecialidades" />
  </message>
  <message name="listarEspecialidadesResponse">
    <part name="parameters" element="tns:listarEspecialidadesResponse" />
  </message>
  <message name="insertarNuevoMedico">
    <part name="parameters" element="tns:insertarNuevoMedico" />
  </message>
  <message name="insertarNuevoMedicoResponse">
    <part name="parameters" element="tns:insertarNuevoMedicoResponse" />
  </message>
  <portType name="AdminWS">
    <operation name="obtenerEspecialidadPorId">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/obtenerEspecialidadPorIdRequest" message="tns:obtenerEspecialidadPorId" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/obtenerEspecialidadPorIdResponse" message="tns:obtenerEspecialidadPorIdResponse" />
    </operation>
    <operation name="listarRolesDeUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarRolesDeUsuarioRequest" message="tns:listarRolesDeUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarRolesDeUsuarioResponse" message="tns:listarRolesDeUsuarioResponse" />
    </operation>
    <operation name="insertarNuevoAdministrador">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevoAdministradorRequest" message="tns:insertarNuevoAdministrador" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevoAdministradorResponse" message="tns:insertarNuevoAdministradorResponse" />
    </operation>
    <operation name="eliminarRolDeUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/eliminarRolDeUsuarioRequest" message="tns:eliminarRolDeUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/eliminarRolDeUsuarioResponse" message="tns:eliminarRolDeUsuarioResponse" />
    </operation>
    <operation name="modificarEspecialidads">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/modificarEspecialidadsRequest" message="tns:modificarEspecialidads" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/modificarEspecialidadsResponse" message="tns:modificarEspecialidadsResponse" />
    </operation>
    <operation name="insertarNuevoPaciente">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevoPacienteRequest" message="tns:insertarNuevoPaciente" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevoPacienteResponse" message="tns:insertarNuevoPacienteResponse" />
    </operation>
    <operation name="listarTodosUsuarios">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarTodosUsuariosRequest" message="tns:listarTodosUsuarios" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarTodosUsuariosResponse" message="tns:listarTodosUsuariosResponse" />
    </operation>
    <operation name="obtenerUsuarioPorId">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/obtenerUsuarioPorIdRequest" message="tns:obtenerUsuarioPorId" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/obtenerUsuarioPorIdResponse" message="tns:obtenerUsuarioPorIdResponse" />
    </operation>
    <operation name="eliminarEspecialidadMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/eliminarEspecialidadMedicoRequest" message="tns:eliminarEspecialidadMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/eliminarEspecialidadMedicoResponse" message="tns:eliminarEspecialidadMedicoResponse" />
    </operation>
    <operation name="asignarNuevoRolParaUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/asignarNuevoRolParaUsuarioRequest" message="tns:asignarNuevoRolParaUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/asignarNuevoRolParaUsuarioResponse" message="tns:asignarNuevoRolParaUsuarioResponse" />
    </operation>
    <operation name="agregarEspecialidadAMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/agregarEspecialidadAMedicoRequest" message="tns:agregarEspecialidadAMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/agregarEspecialidadAMedicoResponse" message="tns:agregarEspecialidadAMedicoResponse" />
    </operation>
    <operation name="listarMedicos">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarMedicosRequest" message="tns:listarMedicos" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarMedicosResponse" message="tns:listarMedicosResponse" />
    </operation>
    <operation name="modificarUsuarios">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/modificarUsuariosRequest" message="tns:modificarUsuarios" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/modificarUsuariosResponse" message="tns:modificarUsuariosResponse" />
    </operation>
    <operation name="listarUsuariosPorEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarUsuariosPorEspecialidadRequest" message="tns:listarUsuariosPorEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarUsuariosPorEspecialidadResponse" message="tns:listarUsuariosPorEspecialidadResponse" />
    </operation>
    <operation name="ReporteDeCitasGeneralAdministrador">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/ReporteDeCitasGeneralAdministradorRequest" message="tns:ReporteDeCitasGeneralAdministrador" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/ReporteDeCitasGeneralAdministradorResponse" message="tns:ReporteDeCitasGeneralAdministradorResponse" />
    </operation>
    <operation name="insertarNuevaEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevaEspecialidadRequest" message="tns:insertarNuevaEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevaEspecialidadResponse" message="tns:insertarNuevaEspecialidadResponse" />
    </operation>
    <operation name="listarEspecialidades">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarEspecialidadesRequest" message="tns:listarEspecialidades" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/listarEspecialidadesResponse" message="tns:listarEspecialidadesResponse" />
    </operation>
    <operation name="insertarNuevoMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevoMedicoRequest" message="tns:insertarNuevoMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/AdminWS/insertarNuevoMedicoResponse" message="tns:insertarNuevoMedicoResponse" />
    </operation>
  </portType>
  <binding name="AdminWSPortBinding" type="tns:AdminWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerEspecialidadPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarRolesDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarNuevoAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRolDeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEspecialidads">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarNuevoPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuarioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEspecialidadMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="asignarNuevoRolParaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarEspecialidadAMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMedicos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosPorEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReporteDeCitasGeneralAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarNuevaEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEspecialidades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarNuevoMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdminWS">
    <port name="AdminWSPort" binding="tns:AdminWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/AdminWS" />
    </port>
  </service>
</definitions>