SoftBO/Connected Services/medicoWS/MedicoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MedicoWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/MedicoWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerHistoriaClinicaPorCita">
    <part name="parameters" element="tns:obtenerHistoriaClinicaPorCita" />
  </message>
  <message name="obtenerHistoriaClinicaPorCitaResponse">
    <part name="parameters" element="tns:obtenerHistoriaClinicaPorCitaResponse" />
  </message>
  <message name="insertarInterconsultasDeCita">
    <part name="parameters" element="tns:insertarInterconsultasDeCita" />
  </message>
  <message name="insertarInterconsultasDeCitaResponse">
    <part name="parameters" element="tns:insertarInterconsultasDeCitaResponse" />
  </message>
  <message name="listarCitasMedico">
    <part name="parameters" element="tns:listarCitasMedico" />
  </message>
  <message name="listarCitasMedicoResponse">
    <part name="parameters" element="tns:listarCitasMedicoResponse" />
  </message>
  <message name="listarTiposDeExamen">
    <part name="parameters" element="tns:listarTiposDeExamen" />
  </message>
  <message name="listarTiposDeExamenResponse">
    <part name="parameters" element="tns:listarTiposDeExamenResponse" />
  </message>
  <message name="listarExamenesPorTipo">
    <part name="parameters" element="tns:listarExamenesPorTipo" />
  </message>
  <message name="listarExamenesPorTipoResponse">
    <part name="parameters" element="tns:listarExamenesPorTipoResponse" />
  </message>
  <message name="agregarExamenPorCita">
    <part name="parameters" element="tns:agregarExamenPorCita" />
  </message>
  <message name="agregarExamenPorCitaResponse">
    <part name="parameters" element="tns:agregarExamenPorCitaResponse" />
  </message>
  <message name="llenarEpicrisisMedico">
    <part name="parameters" element="tns:llenarEpicrisisMedico" />
  </message>
  <message name="llenarEpicrisisMedicoResponse">
    <part name="parameters" element="tns:llenarEpicrisisMedicoResponse" />
  </message>
  <message name="listarEspecialidadesParaInterconsulta">
    <part name="parameters" element="tns:listarEspecialidadesParaInterconsulta" />
  </message>
  <message name="listarEspecialidadesParaInterconsultaResponse">
    <part name="parameters" element="tns:listarEspecialidadesParaInterconsultaResponse" />
  </message>
  <message name="modificarInteronsultaDeCita">
    <part name="parameters" element="tns:modificarInteronsultaDeCita" />
  </message>
  <message name="modificarInteronsultaDeCitaResponse">
    <part name="parameters" element="tns:modificarInteronsultaDeCitaResponse" />
  </message>
  <message name="eliminarInterconsultaDeCita">
    <part name="parameters" element="tns:eliminarInterconsultaDeCita" />
  </message>
  <message name="eliminarInterconsultaDeCitaResponse">
    <part name="parameters" element="tns:eliminarInterconsultaDeCitaResponse" />
  </message>
  <portType name="MedicoWS">
    <operation name="obtenerHistoriaClinicaPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerHistoriaClinicaPorCitaRequest" message="tns:obtenerHistoriaClinicaPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerHistoriaClinicaPorCitaResponse" message="tns:obtenerHistoriaClinicaPorCitaResponse" />
    </operation>
    <operation name="insertarInterconsultasDeCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/insertarInterconsultasDeCitaRequest" message="tns:insertarInterconsultasDeCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/insertarInterconsultasDeCitaResponse" message="tns:insertarInterconsultasDeCitaResponse" />
    </operation>
    <operation name="listarCitasMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarCitasMedicoRequest" message="tns:listarCitasMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarCitasMedicoResponse" message="tns:listarCitasMedicoResponse" />
    </operation>
    <operation name="listarTiposDeExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTiposDeExamenRequest" message="tns:listarTiposDeExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTiposDeExamenResponse" message="tns:listarTiposDeExamenResponse" />
    </operation>
    <operation name="listarExamenesPorTipo">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarExamenesPorTipoRequest" message="tns:listarExamenesPorTipo" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarExamenesPorTipoResponse" message="tns:listarExamenesPorTipoResponse" />
    </operation>
    <operation name="agregarExamenPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/agregarExamenPorCitaRequest" message="tns:agregarExamenPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/agregarExamenPorCitaResponse" message="tns:agregarExamenPorCitaResponse" />
    </operation>
    <operation name="llenarEpicrisisMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/llenarEpicrisisMedicoRequest" message="tns:llenarEpicrisisMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/llenarEpicrisisMedicoResponse" message="tns:llenarEpicrisisMedicoResponse" />
    </operation>
    <operation name="listarEspecialidadesParaInterconsulta">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarEspecialidadesParaInterconsultaRequest" message="tns:listarEspecialidadesParaInterconsulta" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarEspecialidadesParaInterconsultaResponse" message="tns:listarEspecialidadesParaInterconsultaResponse" />
    </operation>
    <operation name="modificarInteronsultaDeCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/modificarInteronsultaDeCitaRequest" message="tns:modificarInteronsultaDeCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/modificarInteronsultaDeCitaResponse" message="tns:modificarInteronsultaDeCitaResponse" />
    </operation>
    <operation name="eliminarInterconsultaDeCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/eliminarInterconsultaDeCitaRequest" message="tns:eliminarInterconsultaDeCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/eliminarInterconsultaDeCitaResponse" message="tns:eliminarInterconsultaDeCitaResponse" />
    </operation>
  </portType>
  <binding name="MedicoWSPortBinding" type="tns:MedicoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerHistoriaClinicaPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarInterconsultasDeCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCitasMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTiposDeExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarExamenesPorTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarExamenPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="llenarEpicrisisMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEspecialidadesParaInterconsulta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarInteronsultaDeCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarInterconsultaDeCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MedicoWS">
    <port name="MedicoWSPort" binding="tns:MedicoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/MedicoWS" />
    </port>
  </service>
</definitions>