SoftBO/Connected Services/medicoWS/MedicoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertarDiagnosticoPorCitaParaMedico" type="tns:InsertarDiagnosticoPorCitaParaMedico" />
  <xs:element name="InsertarDiagnosticoPorCitaParaMedicoResponse" type="tns:InsertarDiagnosticoPorCitaParaMedicoResponse" />
  <xs:element name="ListarDiagnosticoPorIdCitaParaMedico" type="tns:ListarDiagnosticoPorIdCitaParaMedico" />
  <xs:element name="ListarDiagnosticoPorIdCitaParaMedicoResponse" type="tns:ListarDiagnosticoPorIdCitaParaMedicoResponse" />
  <xs:element name="agregarExamenPorCita" type="tns:agregarExamenPorCita" />
  <xs:element name="agregarExamenPorCitaResponse" type="tns:agregarExamenPorCitaResponse" />
  <xs:element name="eliminarInterconsultaDeCita" type="tns:eliminarInterconsultaDeCita" />
  <xs:element name="eliminarInterconsultaDeCitaResponse" type="tns:eliminarInterconsultaDeCitaResponse" />
  <xs:element name="insertarInterconsultasDeCita" type="tns:insertarInterconsultasDeCita" />
  <xs:element name="insertarInterconsultasDeCitaResponse" type="tns:insertarInterconsultasDeCitaResponse" />
  <xs:element name="listarCitasMedico" type="tns:listarCitasMedico" />
  <xs:element name="listarCitasMedicoResponse" type="tns:listarCitasMedicoResponse" />
  <xs:element name="listarEspecialidadesParaInterconsulta" type="tns:listarEspecialidadesParaInterconsulta" />
  <xs:element name="listarEspecialidadesParaInterconsultaResponse" type="tns:listarEspecialidadesParaInterconsultaResponse" />
  <xs:element name="listarExamenesPorIdCitaParaMedico" type="tns:listarExamenesPorIdCitaParaMedico" />
  <xs:element name="listarExamenesPorIdCitaParaMedicoResponse" type="tns:listarExamenesPorIdCitaParaMedicoResponse" />
  <xs:element name="listarExamenesPorTipo" type="tns:listarExamenesPorTipo" />
  <xs:element name="listarExamenesPorTipoResponse" type="tns:listarExamenesPorTipoResponse" />
  <xs:element name="listarInterconsultasPorIdCitaParMedico" type="tns:listarInterconsultasPorIdCitaParMedico" />
  <xs:element name="listarInterconsultasPorIdCitaParMedicoResponse" type="tns:listarInterconsultasPorIdCitaParMedicoResponse" />
  <xs:element name="listarTiposDeExamen" type="tns:listarTiposDeExamen" />
  <xs:element name="listarTiposDeExamenResponse" type="tns:listarTiposDeExamenResponse" />
  <xs:element name="listarTodasLasInterconsultasParaMedico" type="tns:listarTodasLasInterconsultasParaMedico" />
  <xs:element name="listarTodasLasInterconsultasParaMedicoResponse" type="tns:listarTodasLasInterconsultasParaMedicoResponse" />
  <xs:element name="listarTodosLosDiaganosticosParaMedico" type="tns:listarTodosLosDiaganosticosParaMedico" />
  <xs:element name="listarTodosLosDiaganosticosParaMedicoResponse" type="tns:listarTodosLosDiaganosticosParaMedicoResponse" />
  <xs:element name="listarTodosLosExamenesParaMedico" type="tns:listarTodosLosExamenesParaMedico" />
  <xs:element name="listarTodosLosExamenesParaMedicoResponse" type="tns:listarTodosLosExamenesParaMedicoResponse" />
  <xs:element name="llenarEpicrisisMedico" type="tns:llenarEpicrisisMedico" />
  <xs:element name="llenarEpicrisisMedicoResponse" type="tns:llenarEpicrisisMedicoResponse" />
  <xs:element name="modificarCitaParaMedico" nillable="true" type="tns:modificarCitaParaPaciente" />
  <xs:element name="modificarCitaParaMedicoResponse" nillable="true" type="tns:modificarCitaParaPacienteResponse" />
  <xs:element name="modificarCitaParaPaciente" type="tns:modificarCitaParaPaciente" />
  <xs:element name="modificarCitaParaPacienteResponse" type="tns:modificarCitaParaPacienteResponse" />
  <xs:element name="modificarInteronsultaDeCita" type="tns:modificarInteronsultaDeCita" />
  <xs:element name="modificarInteronsultaDeCitaResponse" type="tns:modificarInteronsultaDeCitaResponse" />
  <xs:element name="obtenerCitaPorIdCitaParaMedico" type="tns:obtenerCitaPorIdCitaParaMedico" />
  <xs:element name="obtenerCitaPorIdCitaParaMedicoResponse" type="tns:obtenerCitaPorIdCitaParaMedicoResponse" />
  <xs:element name="obtenerDiagnosticoPorIdParaMedico" type="tns:obtenerDiagnosticoPorIdParaMedico" />
  <xs:element name="obtenerDiagnosticoPorIdParaMedicoResponse" type="tns:obtenerDiagnosticoPorIdParaMedicoResponse" />
  <xs:element name="obtenerEspecialidadPorIdParaMedico" type="tns:obtenerEspecialidadPorIdParaMedico" />
  <xs:element name="obtenerEspecialidadPorIdParaMedicoResponse" type="tns:obtenerEspecialidadPorIdParaMedicoResponse" />
  <xs:element name="obtenerExamenPorIdParaMedico" type="tns:obtenerExamenPorIdParaMedico" />
  <xs:element name="obtenerExamenPorIdParaMedicoResponse" type="tns:obtenerExamenPorIdParaMedicoResponse" />
  <xs:element name="obtenerHistoriaClinicaPorCita" type="tns:obtenerHistoriaClinicaPorCita" />
  <xs:element name="obtenerHistoriaClinicaPorCitaResponse" type="tns:obtenerHistoriaClinicaPorCitaResponse" />
  <xs:complexType name="obtenerHistoriaClinicaPorCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerHistoriaClinicaPorCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:historiaClinicaPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="historiaClinicaPorCitaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:citaDTO" />
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="evolucion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="frecuenciaCardiaca" type="xs:int" />
      <xs:element minOccurs="0" name="historiaClinica" type="tns:historiaClinicaDTO" />
      <xs:element minOccurs="0" name="motivoConsulta" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:double" />
      <xs:element minOccurs="0" name="presionArterial" type="xs:string" />
      <xs:element minOccurs="0" name="receta" type="xs:string" />
      <xs:element minOccurs="0" name="recomendacion" type="xs:string" />
      <xs:element minOccurs="0" name="talla" type="xs:double" />
      <xs:element minOccurs="0" name="temperatura" type="xs:double" />
      <xs:element minOccurs="0" name="tratamiento" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultorio" type="tns:consultorioDTO" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidadDTO" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fechaCita" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
      <xs:element minOccurs="0" name="medico" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="turno" type="tns:turnoDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultorioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="idConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="numConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="numPiso" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEspecialidad" type="xs:string" />
      <xs:element minOccurs="0" name="precioConsulta" type="xs:double" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codMedico" type="xs:string" />
      <xs:element minOccurs="0" name="codigoVerificacion" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="estadoLogico" type="tns:estadoLogico" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaExpiracionCodigo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numCelular" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="idTurno" type="xs:int" />
      <xs:element minOccurs="0" name="nombreTurno" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="historiaClinicaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="idHistoriaClinica" type="xs:int" />
      <xs:element minOccurs="0" name="paciente" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="llenarEpicrisisMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="epiciris" type="tns:historiaClinicaPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="llenarEpicrisisMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitasMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMedico" type="xs:int" />
      <xs:element minOccurs="0" name="estadoCita" type="tns:estadoCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitasMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:citaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCitaParaPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCita" type="tns:citaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCitaParaPacienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarDiagnosticoPorCitaParaMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="diagnostico" type="tns:diagnosticoPorCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="diagnosticoPorCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:citaDTO" />
      <xs:element minOccurs="0" name="diagnostico" type="tns:diagnosticoDTO" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="diagnosticoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="capitulo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="grupo" type="xs:string" />
      <xs:element minOccurs="0" name="idDiagnostico" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="xs:int" />
      <xs:element minOccurs="0" name="nombreDiagnostico" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarDiagnosticoPorCitaParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEspecialidadesParaInterconsulta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEspecialidadesParaInterconsultaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInteronsultaDeCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="interconsulta" type="tns:interconsultaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="interconsultaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:citaDTO" />
      <xs:element minOccurs="0" name="especialidadInterconsulta" type="tns:especialidadDTO" />
      <xs:element minOccurs="0" name="razonInterconsulta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInteronsultaDeCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarDiagnosticoPorIdCitaParaMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarDiagnosticoPorIdCitaParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:diagnosticoPorCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInterconsultasDeCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="interconsulta" type="tns:interconsultaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInterconsultasDeCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerExamenPorIdParaMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="examenId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerExamenPorIdParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:examenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="examenDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="idExamen" type="xs:int" />
      <xs:element minOccurs="0" name="nombreExamen" type="xs:string" />
      <xs:element minOccurs="0" name="tipoExamen" type="tns:tipoExamenDTO" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoExamenDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoExamen" type="xs:int" />
      <xs:element minOccurs="0" name="indicacion" type="xs:string" />
      <xs:element minOccurs="0" name="nombreTipoExamen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarExamenesPorTipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoExamen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarExamenesPorTipoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:examenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEspecialidadPorIdParaMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEspecialidadPorIdParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarExamenPorCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="examenPorCita" type="tns:examenPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="examenPorCitaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:citaDTO" />
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="examen" type="tns:examenDTO" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarExamenPorCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarExamenesPorIdCitaParaMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarExamenesPorIdCitaParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:examenPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasLasInterconsultasParaMedico">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasLasInterconsultasParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interconsultaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosLosDiaganosticosParaMedico">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosLosDiaganosticosParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:diagnosticoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInterconsultaDeCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="interconsulta" type="tns:interconsultaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInterconsultaDeCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosLosExamenesParaMedico">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosLosExamenesParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:examenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarInterconsultasPorIdCitaParMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarInterconsultasPorIdCitaParMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:interconsultaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDiagnosticoPorIdParaMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="diagnosticoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDiagnosticoPorIdParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:diagnosticoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTiposDeExamen">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTiposDeExamenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoExamenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCitaPorIdCitaParaMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCitaPorIdCitaParaMedicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:citaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoGeneral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="PENDIENTE_VERIFICACION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RESERVADO" />
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PAGADO" />
      <xs:enumeration value="ATENDIDO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoLogico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUSENTE" />
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="DE_VACACIONES" />
      <xs:enumeration value="DE_BAJA" />
      <xs:enumeration value="EN_CAPACITACION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FEMENINO" />
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="OTRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>