SoftBO/Connected Services/reporteCitasWS/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReporteDeCitasGeneral" type="tns:ReporteDeCitasGeneral" />
  <xs:element name="ReporteDeCitasGeneralResponse" type="tns:ReporteDeCitasGeneralResponse" />
  <xs:complexType name="ReporteDeCitasGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="codMedico" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_fini" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReporteDeCitasGeneralResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reporteCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteCitaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codMedico" type="xs:string" />
      <xs:element minOccurs="0" name="doctor" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCita" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:string" />
      <xs:element minOccurs="0" name="idCita" type="xs:string" />
      <xs:element minOccurs="0" name="paciente" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>