SoftBO/Connected Services/SoftCitWS/MedicoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MedicoWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://52.70.76.31:8080/SoftCitWS/MedicoWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarInterconsultasDeCita">
    <part name="parameters" element="tns:insertarInterconsultasDeCita" />
  </message>
  <message name="insertarInterconsultasDeCitaResponse">
    <part name="parameters" element="tns:insertarInterconsultasDeCitaResponse" />
  </message>
  <message name="obtenerHistoriaClinicaPorCita">
    <part name="parameters" element="tns:obtenerHistoriaClinicaPorCita" />
  </message>
  <message name="obtenerHistoriaClinicaPorCitaResponse">
    <part name="parameters" element="tns:obtenerHistoriaClinicaPorCitaResponse" />
  </message>
  <message name="obtenerCitaPorIdCitaParaMedico">
    <part name="parameters" element="tns:obtenerCitaPorIdCitaParaMedico" />
  </message>
  <message name="obtenerCitaPorIdCitaParaMedicoResponse">
    <part name="parameters" element="tns:obtenerCitaPorIdCitaParaMedicoResponse" />
  </message>
  <message name="obtenerDiagnosticoPorIdParaMedico">
    <part name="parameters" element="tns:obtenerDiagnosticoPorIdParaMedico" />
  </message>
  <message name="obtenerDiagnosticoPorIdParaMedicoResponse">
    <part name="parameters" element="tns:obtenerDiagnosticoPorIdParaMedicoResponse" />
  </message>
  <message name="listarExamenesPorIdCitaParaMedico">
    <part name="parameters" element="tns:listarExamenesPorIdCitaParaMedico" />
  </message>
  <message name="listarExamenesPorIdCitaParaMedicoResponse">
    <part name="parameters" element="tns:listarExamenesPorIdCitaParaMedicoResponse" />
  </message>
  <message name="obtenerEspecialidadPorIdParaMedico">
    <part name="parameters" element="tns:obtenerEspecialidadPorIdParaMedico" />
  </message>
  <message name="obtenerEspecialidadPorIdParaMedicoResponse">
    <part name="parameters" element="tns:obtenerEspecialidadPorIdParaMedicoResponse" />
  </message>
  <message name="modificarInteronsultaDeCita">
    <part name="parameters" element="tns:modificarInteronsultaDeCita" />
  </message>
  <message name="modificarInteronsultaDeCitaResponse">
    <part name="parameters" element="tns:modificarInteronsultaDeCitaResponse" />
  </message>
  <message name="eliminarInterconsultaDeCita">
    <part name="parameters" element="tns:eliminarInterconsultaDeCita" />
  </message>
  <message name="eliminarInterconsultaDeCitaResponse">
    <part name="parameters" element="tns:eliminarInterconsultaDeCitaResponse" />
  </message>
  <message name="ListarDiagnosticoPorIdCitaParaMedico">
    <part name="parameters" element="tns:ListarDiagnosticoPorIdCitaParaMedico" />
  </message>
  <message name="ListarDiagnosticoPorIdCitaParaMedicoResponse">
    <part name="parameters" element="tns:ListarDiagnosticoPorIdCitaParaMedicoResponse" />
  </message>
  <message name="listarTodasLasInterconsultasParaMedico">
    <part name="parameters" element="tns:listarTodasLasInterconsultasParaMedico" />
  </message>
  <message name="listarTodasLasInterconsultasParaMedicoResponse">
    <part name="parameters" element="tns:listarTodasLasInterconsultasParaMedicoResponse" />
  </message>
  <message name="InsertarDiagnosticoPorCitaParaMedico">
    <part name="parameters" element="tns:InsertarDiagnosticoPorCitaParaMedico" />
  </message>
  <message name="InsertarDiagnosticoPorCitaParaMedicoResponse">
    <part name="parameters" element="tns:InsertarDiagnosticoPorCitaParaMedicoResponse" />
  </message>
  <message name="listarTodosLosDiaganosticosParaMedico">
    <part name="parameters" element="tns:listarTodosLosDiaganosticosParaMedico" />
  </message>
  <message name="listarTodosLosDiaganosticosParaMedicoResponse">
    <part name="parameters" element="tns:listarTodosLosDiaganosticosParaMedicoResponse" />
  </message>
  <message name="listarInterconsultasPorIdCitaParMedico">
    <part name="parameters" element="tns:listarInterconsultasPorIdCitaParMedico" />
  </message>
  <message name="listarInterconsultasPorIdCitaParMedicoResponse">
    <part name="parameters" element="tns:listarInterconsultasPorIdCitaParMedicoResponse" />
  </message>
  <message name="listarEspecialidadesParaInterconsulta">
    <part name="parameters" element="tns:listarEspecialidadesParaInterconsulta" />
  </message>
  <message name="listarEspecialidadesParaInterconsultaResponse">
    <part name="parameters" element="tns:listarEspecialidadesParaInterconsultaResponse" />
  </message>
  <message name="llenarEpicrisisMedico">
    <part name="parameters" element="tns:llenarEpicrisisMedico" />
  </message>
  <message name="llenarEpicrisisMedicoResponse">
    <part name="parameters" element="tns:llenarEpicrisisMedicoResponse" />
  </message>
  <message name="listarExamenesPorTipo">
    <part name="parameters" element="tns:listarExamenesPorTipo" />
  </message>
  <message name="listarExamenesPorTipoResponse">
    <part name="parameters" element="tns:listarExamenesPorTipoResponse" />
  </message>
  <message name="listarTiposDeExamen">
    <part name="parameters" element="tns:listarTiposDeExamen" />
  </message>
  <message name="listarTiposDeExamenResponse">
    <part name="parameters" element="tns:listarTiposDeExamenResponse" />
  </message>
  <message name="agregarExamenPorCita">
    <part name="parameters" element="tns:agregarExamenPorCita" />
  </message>
  <message name="agregarExamenPorCitaResponse">
    <part name="parameters" element="tns:agregarExamenPorCitaResponse" />
  </message>
  <message name="listarTodosLosExamenesParaMedico">
    <part name="parameters" element="tns:listarTodosLosExamenesParaMedico" />
  </message>
  <message name="listarTodosLosExamenesParaMedicoResponse">
    <part name="parameters" element="tns:listarTodosLosExamenesParaMedicoResponse" />
  </message>
  <message name="modificarCitaParaMedico">
    <part name="parameters" element="tns:modificarCitaParaMedico" />
  </message>
  <message name="modificarCitaParaMedicoResponse">
    <part name="parameters" element="tns:modificarCitaParaMedicoResponse" />
  </message>
  <message name="listarCitasMedico">
    <part name="parameters" element="tns:listarCitasMedico" />
  </message>
  <message name="listarCitasMedicoResponse">
    <part name="parameters" element="tns:listarCitasMedicoResponse" />
  </message>
  <message name="obtenerExamenPorIdParaMedico">
    <part name="parameters" element="tns:obtenerExamenPorIdParaMedico" />
  </message>
  <message name="obtenerExamenPorIdParaMedicoResponse">
    <part name="parameters" element="tns:obtenerExamenPorIdParaMedicoResponse" />
  </message>
  <portType name="MedicoWS">
    <operation name="insertarInterconsultasDeCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/insertarInterconsultasDeCitaRequest" message="tns:insertarInterconsultasDeCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/insertarInterconsultasDeCitaResponse" message="tns:insertarInterconsultasDeCitaResponse" />
    </operation>
    <operation name="obtenerHistoriaClinicaPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerHistoriaClinicaPorCitaRequest" message="tns:obtenerHistoriaClinicaPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerHistoriaClinicaPorCitaResponse" message="tns:obtenerHistoriaClinicaPorCitaResponse" />
    </operation>
    <operation name="obtenerCitaPorIdCitaParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerCitaPorIdCitaParaMedicoRequest" message="tns:obtenerCitaPorIdCitaParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerCitaPorIdCitaParaMedicoResponse" message="tns:obtenerCitaPorIdCitaParaMedicoResponse" />
    </operation>
    <operation name="obtenerDiagnosticoPorIdParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerDiagnosticoPorIdParaMedicoRequest" message="tns:obtenerDiagnosticoPorIdParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerDiagnosticoPorIdParaMedicoResponse" message="tns:obtenerDiagnosticoPorIdParaMedicoResponse" />
    </operation>
    <operation name="listarExamenesPorIdCitaParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarExamenesPorIdCitaParaMedicoRequest" message="tns:listarExamenesPorIdCitaParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarExamenesPorIdCitaParaMedicoResponse" message="tns:listarExamenesPorIdCitaParaMedicoResponse" />
    </operation>
    <operation name="obtenerEspecialidadPorIdParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerEspecialidadPorIdParaMedicoRequest" message="tns:obtenerEspecialidadPorIdParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerEspecialidadPorIdParaMedicoResponse" message="tns:obtenerEspecialidadPorIdParaMedicoResponse" />
    </operation>
    <operation name="modificarInteronsultaDeCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/modificarInteronsultaDeCitaRequest" message="tns:modificarInteronsultaDeCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/modificarInteronsultaDeCitaResponse" message="tns:modificarInteronsultaDeCitaResponse" />
    </operation>
    <operation name="eliminarInterconsultaDeCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/eliminarInterconsultaDeCitaRequest" message="tns:eliminarInterconsultaDeCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/eliminarInterconsultaDeCitaResponse" message="tns:eliminarInterconsultaDeCitaResponse" />
    </operation>
    <operation name="ListarDiagnosticoPorIdCitaParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/ListarDiagnosticoPorIdCitaParaMedicoRequest" message="tns:ListarDiagnosticoPorIdCitaParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/ListarDiagnosticoPorIdCitaParaMedicoResponse" message="tns:ListarDiagnosticoPorIdCitaParaMedicoResponse" />
    </operation>
    <operation name="listarTodasLasInterconsultasParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTodasLasInterconsultasParaMedicoRequest" message="tns:listarTodasLasInterconsultasParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTodasLasInterconsultasParaMedicoResponse" message="tns:listarTodasLasInterconsultasParaMedicoResponse" />
    </operation>
    <operation name="InsertarDiagnosticoPorCitaParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/InsertarDiagnosticoPorCitaParaMedicoRequest" message="tns:InsertarDiagnosticoPorCitaParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/InsertarDiagnosticoPorCitaParaMedicoResponse" message="tns:InsertarDiagnosticoPorCitaParaMedicoResponse" />
    </operation>
    <operation name="listarTodosLosDiaganosticosParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTodosLosDiaganosticosParaMedicoRequest" message="tns:listarTodosLosDiaganosticosParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTodosLosDiaganosticosParaMedicoResponse" message="tns:listarTodosLosDiaganosticosParaMedicoResponse" />
    </operation>
    <operation name="listarInterconsultasPorIdCitaParMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarInterconsultasPorIdCitaParMedicoRequest" message="tns:listarInterconsultasPorIdCitaParMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarInterconsultasPorIdCitaParMedicoResponse" message="tns:listarInterconsultasPorIdCitaParMedicoResponse" />
    </operation>
    <operation name="listarEspecialidadesParaInterconsulta">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarEspecialidadesParaInterconsultaRequest" message="tns:listarEspecialidadesParaInterconsulta" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarEspecialidadesParaInterconsultaResponse" message="tns:listarEspecialidadesParaInterconsultaResponse" />
    </operation>
    <operation name="llenarEpicrisisMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/llenarEpicrisisMedicoRequest" message="tns:llenarEpicrisisMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/llenarEpicrisisMedicoResponse" message="tns:llenarEpicrisisMedicoResponse" />
    </operation>
    <operation name="listarExamenesPorTipo">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarExamenesPorTipoRequest" message="tns:listarExamenesPorTipo" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarExamenesPorTipoResponse" message="tns:listarExamenesPorTipoResponse" />
    </operation>
    <operation name="listarTiposDeExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTiposDeExamenRequest" message="tns:listarTiposDeExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTiposDeExamenResponse" message="tns:listarTiposDeExamenResponse" />
    </operation>
    <operation name="agregarExamenPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/agregarExamenPorCitaRequest" message="tns:agregarExamenPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/agregarExamenPorCitaResponse" message="tns:agregarExamenPorCitaResponse" />
    </operation>
    <operation name="listarTodosLosExamenesParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTodosLosExamenesParaMedicoRequest" message="tns:listarTodosLosExamenesParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarTodosLosExamenesParaMedicoResponse" message="tns:listarTodosLosExamenesParaMedicoResponse" />
    </operation>
    <operation name="modificarCitaParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/modificarCitaParaMedicoRequest" message="tns:modificarCitaParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/modificarCitaParaMedicoResponse" message="tns:modificarCitaParaMedicoResponse" />
    </operation>
    <operation name="listarCitasMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarCitasMedicoRequest" message="tns:listarCitasMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/listarCitasMedicoResponse" message="tns:listarCitasMedicoResponse" />
    </operation>
    <operation name="obtenerExamenPorIdParaMedico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerExamenPorIdParaMedicoRequest" message="tns:obtenerExamenPorIdParaMedico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/MedicoWS/obtenerExamenPorIdParaMedicoResponse" message="tns:obtenerExamenPorIdParaMedicoResponse" />
    </operation>
  </portType>
  <binding name="MedicoWSPortBinding" type="tns:MedicoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarInterconsultasDeCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerHistoriaClinicaPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCitaPorIdCitaParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerDiagnosticoPorIdParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarExamenesPorIdCitaParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerEspecialidadPorIdParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarInteronsultaDeCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarInterconsultaDeCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarDiagnosticoPorIdCitaParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasLasInterconsultasParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarDiagnosticoPorCitaParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosLosDiaganosticosParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarInterconsultasPorIdCitaParMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEspecialidadesParaInterconsulta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="llenarEpicrisisMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarExamenesPorTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTiposDeExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarExamenPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosLosExamenesParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCitaParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCitasMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerExamenPorIdParaMedico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MedicoWS">
    <port name="MedicoWSPort" binding="tns:MedicoWSPortBinding">
      <soap:address location="http://52.70.76.31:8080/SoftCitWS/MedicoWS" />
    </port>
  </service>
</definitions>