SoftBO/Connected Services/SoftCitWS/RegistroWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RegistroWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://52.70.76.31:8080/SoftCitWS/RegistroWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="verificarCodigo">
    <part name="parameters" element="tns:verificarCodigo" />
  </message>
  <message name="verificarCodigoResponse">
    <part name="parameters" element="tns:verificarCodigoResponse" />
  </message>
  <message name="reenviarCodigo">
    <part name="parameters" element="tns:reenviarCodigo" />
  </message>
  <message name="reenviarCodigoResponse">
    <part name="parameters" element="tns:reenviarCodigoResponse" />
  </message>
  <message name="registrarse">
    <part name="parameters" element="tns:registrarse" />
  </message>
  <message name="registrarseResponse">
    <part name="parameters" element="tns:registrarseResponse" />
  </message>
  <portType name="RegistroWS">
    <operation name="verificarCodigo">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/RegistroWS/verificarCodigoRequest" message="tns:verificarCodigo" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/RegistroWS/verificarCodigoResponse" message="tns:verificarCodigoResponse" />
    </operation>
    <operation name="reenviarCodigo">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/RegistroWS/reenviarCodigoRequest" message="tns:reenviarCodigo" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/RegistroWS/reenviarCodigoResponse" message="tns:reenviarCodigoResponse" />
    </operation>
    <operation name="registrarse">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/RegistroWS/registrarseRequest" message="tns:registrarse" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/RegistroWS/registrarseResponse" message="tns:registrarseResponse" />
    </operation>
  </portType>
  <binding name="RegistroWSPortBinding" type="tns:RegistroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="verificarCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reenviarCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RegistroWS">
    <port name="RegistroWSPort" binding="tns:RegistroWSPortBinding">
      <soap:address location="http://52.70.76.31:8080/SoftCitWS/RegistroWS" />
    </port>
  </service>
</definitions>